.THIS .dropzone {padding:10px; margin:10px;}

.THIS.dz-idle .dropzone {background-color:grey;}
.THIS.dz-available .dropzone {background-color:green;}
.THIS.dz-hovered .dropzone {background-color:yellow;}